/*Fonts for all
font-family: 'Playfair Display', serif;---->body
font-family: 'Raleway', sans-serif; ----->headers
*/



a:link, a:visited {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #001a66;
}

.navigation{
  font-family: 'Playfair Display', serif;
  text-align: center;
  padding: 5px;
}

.header {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.intro {
  font-family: 'Playfair Display', serif;
  text-align: center;
  padding: 30px;
  margin:auto;

}
.help {
  font-family: 'Playfair Display', serif;
  text-align: center;
  clear: left;
}

.style {
    list-style: none;

}

h3 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  clear: left;

}
.backpack{
  align-content: center;
  max-width: 50%;
  max-height: 50%;
  padding: 5px;
  word-wrap: normal;

}
