/*Fonts for all
font-family: 'Playfair Display', serif;---->body
font-family: 'Raleway', sans-serif; ----->headers
*/


a:link, a:visited {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #001a66;
}

#page-wrap {
     width: 800px;
     margin: 0 auto;
}

.header {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.intro {
  font-family: 'Playfair Display', serif;
  text-align: center;
  padding: 5px;
  margin:auto;

}
.help {
  font-family: 'Playfair Display', serif;
  text-align: center;
  clear: left;
}

.create {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  clear: left;

}
